html {
    background-color: #1E3050;
}

body {
    font-family: 'Sora', sans-serif;
}

#flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

.div {
    margin-top: 40px;
    padding: 20px;
}

button {
    display: block; 
    margin: 0 auto;
    padding: 20px;
    border: 0px;
    border-radius: 40px;
    text-align: center;
    font-family: 'Sora', sans-serif;
}

#port-btn {
    width: 180px;
    font-size: 20px;
    color: #ffffff;
    background-color: #86BEF7;
}

#port-txt {
    font-size: 25px;
    margin-top: 40px;
    color: #ffffff;
}

#info-txt {
    font-size: 45px;
    color: #ffffff;
}

#info-btn {
    width: 220px;
    font-size: 30px;
    color: #ffffff;
    background-color: #DA9CF1;
}

#response {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#icons i {
    padding: 50px;
}

#no {
    margin-top: 26%;
    color: #E36555;
    margin-right: 140px;
}

#yes {
    margin-top: 26%;
    color: #87E3C0;
    margin-left: 140px;
}

#pass {
    margin-bottom: 18%;
    color: #F7D65B;
}



